



<body>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRCDFX8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a38b6716924d799"></script>


        <!-- Header 15 -->
        <div id="headers-header-15" title="Africa Online Market" >

 
  
        <!-- Team -->
        <div id="headers-team" title="African Online Market" >
          <section class="slice p-4 bg-secondary overflow-hidden ">
  

            <!-- Container -->
            <div class="container d-flex align-items-center p-6 py-lg-8 up-border-success">
              <div class="col">
                <div class="container pt-0">
           
                  <div class="row row-grid justify-content-center mt-0">
                    <div class="col-lg-12 text-center">
                      <h1 class="display-8 mt-0" style="color: #007600!important"><i class="fa fa-check"></i> Thank you for signing up!</h1>
                      <p class="h3 blk">Please check your inbox, junk or spam for an activation link from upfrica.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>




                <div id="headers-team" title="headers/team.html">
          <section class="slice slice-lg bg-secondary overflow-hidden">
  

            <!-- Container -->
            <div class="container d-flex align-items-center py-6 py-lg-8">
              <div class="col">
                <div class="container pt-6">
                  <div class="row row-grid justify-content-center">
                    <div class="col-lg-10 text-center">
                     
                      <p class="h4 text-white">We'd love if you could share this with your friends</p>

                      <br>

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox_hlh3"></div>
            
                    </div>



                  </div>



                </div>
              </div>
            </div>
          </section>
        </div>




      </div>






      
</body>

</html>

<!-- Event snippet for New Users Sign-ups conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1000533655/091HCPe40KUBEJfdi90D'});
</script>




<%= render 'shared/startselling_modal'%>